html, body {
  background-color: whitesmoke;
}

nav.bg-light {
  background-color: #13ACAB !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #D1D6E1;
}

main > .row , main > .row:target ~ .row {
  display: none;
}

main > .row:target, main > .row:last-child {
  display: block;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.hero-text {
  margin: 50px 20px 0 20px;
}

.gallery-image {
  max-width: 300px;
}

.coming-soon {
  padding-top: 30px;
}
